.main_page_container {
  background-color: $color-light;
}

.container {
  margin: 30px auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 100%
}

/* HEADER */

.header-images {
  padding-top: 30px;
  justify-content: space-between;
  margin-bottom: 12px;
  color: $color-light;

  .image-container {
    flex: 0 0 50%;
    height: 200px;
    text-align: center;
    position: relative;
    cursor: pointer;
  }

  .image-container:hover {
    h1 {
      transform: translate(-50%, -70px);
      transition: all 1s;
    }
    h2 {
      color: $color-light;
      transform: translate(-50%, -70px);
      transition: all 1s;
    }
  }

  .tile-1 {
    padding: 0 7px 0 0;
  }

  .tile-2 {
    padding: 0 0 0 7px;
  }

  img {
    border-radius: 2%;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
  }
}

.opening-text {
  align-items: center;
  justify-content: center;
  background: $color-main;
  height: 200px;
  border-radius: 1%;
  color: $color-light;
}

.text-container {
  flex: 0 0 100%;
  text-align: center;
}

/* CAROUSEL */

.carousel {
  margin-top: 30px;
}

.carousel-image {
  flex: 0 0 30%;
  height: 150px;
  padding: 0 7px 0 0;
}

.slides {
  flex: 0 0 70%;
  height: 150px;
  text-align: center;
  padding: 0 0 0 7px;
}

/* GALLERY */

.gallery {
  margin-top: 30px;

  .gallery-content {
    justify-content: space-around;
    height: 220px;
  }

  .tile {
    position: relative;
    display: flex;
    flex: 0 0 30%;
    width: 200px;
    height: 200px;
  }

  .tile::before {
    position: absolute;
    content: '';
    opacity: 0.5;
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }

  .tile:hover {
    .icon {
      color: $color-light;
      transition: all 0.5s;
    }

    .icon:hover {
      color: $color-main;
      transform: scale(1.5);
    }
    
    &::before {
      background-color: $color-dark;
    }
  }

  .icons {
    position: absolute;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  li:first-of-type {
    padding-left: 0;
  }

  li {
    display: inline-block;
    padding-left: 15px;
  }

  .icon {
    font-size: 20px;
    color: transparent;
  }

  
  
}

/* FOOTER */

.instagram{
  padding: 12px;
  margin-bottom: 30px;
  color: $color-main;
}



